body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #512DA8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-row{
    min-height:100px;
}

.login-col
{
    min-height: 500px;
    background: #673AB7;
    color: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 60%;
    margin: 0 auto;
}

#register .form-wrap {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
}

#register
{
    background: #512DA8;
}

#register {
    margin-top: 22px;
    padding-top: 60px;
    min-height: 500px;
}

#login h1 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}

#register .form-group {
    margin-bottom: 25px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #212121;
    font-size: 13px;
    font-weight: 600;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}

#register .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}

#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

#login form
{
    padding-left: 20px;
}

#register form
{
    padding-left: 20px;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #009688;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

.main-row
{
    min-height: 600px;
}

.menu-col
{
    background: #512DA8;
    min-height: 1000px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    color: #FFFFFF;
    padding: 20px 20px 20px 40px;
}

.content-col
{
    background: #673AB7;
    min-height: 1000px;
}

.main-panel-body
{
    padding-top: 0px !important; 
}

.no-border
{
    border-top-right-radius: 0px !important; 
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #37474F;
    border: none;
    color:rgba(255, 255, 255, 0.56);
}

.list-item:hover {
  background-color: #263238;
}

.row-no-margin
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
}

.location-description
{
    width: 100%;
    margin-right: 80px;
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px 20px 20px 20px;
    font-family: Roboto, Arial, sans-serif;
}

.user-list
{
    min-height: 200px;

}

.user-column{

    min-height: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px 20px 20px 20px;
}

.group-input
{
    width: 100%;
    max-width: 500px;
}

#peopleList
{
    margin-top: 10px;
}

.name-input
{
    margin-top: 25px;
}

.add-person-button
{
    
}

.person-object
{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.person-object:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #e6eaef;
}

.big-icon
{
    
}

#addedPeople
{
    padding-left: 0px !important;
}

.face-icon
{
    padding-top: 0px;
}

#loadingPanel
{
    position: absolute;
    z-index: 1;
}